include src/components/const.pug
doctype html
html(lang="es")
	include  src/components/head.pug
	body
		include src/components/header.pug
		include src/components/main.pug
		include src/components/service.pug
		include src/components/design.pug
		include src/components/briefcase.pug
		include src/components/work.pug
		include src/components/behind-scene.pug
		include src/components/social-networks.pug
		include src/components/footer.pug
	script(src="src/js/script.js")