// briefcase

.briefcase{
    height: 90vh;
    border: $border;

    &-title{
        text-align: center;
        margin-top: 3rem;
        letter-spacing: 0.5rem;
    }
    
    &-container{
        max-width: 90%;
        margin: 0 auto;
        border: $border  ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-container .td{
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 0.3rem;
        padding-top: 2rem;
    }


    &-container-two{
        height: 77%;
        @extend .briefcase-container
    }
}