// briefcase

.briefcase{
    border: $border none;
    overflow: hidden;

    &-title{
        text-align: center;
        margin: 3rem 0;
        letter-spacing: 0.5rem;
    }
    
    &-container{
        width: 90%;
        max-width: 1000px;
        margin: 3rem auto;
        border: $border none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        padding: 1rem 0;
    }

    &-container__list{
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 0.3rem;
    }


    .briefcase-container-two{
        width: 90%;
        max-width: 1000px;
        margin: 2rem auto 0 auto;
        border: $border none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 5px;
        height: 52rem;
        box-shadow: 2px -13px 15px 1px rgba(0, 0, 0, 0.05);
        
    }

    &-container-two__item{
        height: 100%;
        border: $border none;
        width: 50%;
    }

    
    &-container-two__item__img{
        height: 100%;
        border: $border none;
        width: 100%;
    }

    &-container-two__item-2{
        width: 50%;
        border: $border none;
        padding: 0 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    
    &-container-two__item-2 div{
        border: $border none;
        margin: 1rem 0;
        
    }

    &-container-two__item-2 div .fo{
        border: $border none;
        font-size: 1.5rem;
        color: gray;
        
    }

    &-container-two__item-2 div .fa{
        border: $border none;
        font-size: 1.5rem;
        color: gray;
        margin-right: 3.5rem;
        
    }


    &-container-two__item-2 div span{
        border: $border none;
        font-size: 3rem;
        color: gray;
        
    }

    &-container-two__item-2 h2{
        border: $border none;
        font-size: 2rem;
    }

    &-container-two__item-2 p{
        border: $border none;
        font-size: 1.3rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
    }
}