// design

.design{
    height: 85vh;
    border: $border none;
    position: relative;
    z-index: 1;
    margin-top: 2.5rem;

    &-image{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        border: $border none;
        
    }

    &-image__img{
        height: 100%;
        width: 100%;
        filter: grayscale(15%);
    }



    &-container{
        display: flex;
        position: absolute;
        z-index: 3;
        border: $border none;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .design-container__icon__left{
        font-size: 3.8rem;
        border: $border none;
        align-items: center;
        display: flex;
        padding-left: 1.5rem;
        flex-grow: 1;
    }

    .design-container__icon__right{
        font-size: 3.8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: $border none;
        padding-right: 1.5rem;
        flex-grow: 2;
    }

    .design-container__user{
        border: $border none;
        padding: 4rem 5rem;
        width: 60rem;
        flex-grow: 1;

    }

    .design-container__user__img{
        border: $border none;
        height: 12rem;
        width: 15rem;
        border-radius: 45px;
        margin-top: 3rem;
    }

    .design-container__user__name{
        border: $border none;
        width: 50%;
        font-family: $Montserrat;
        letter-spacing: 0.5rem;
        font-size: 2.5rem;
        color: rgb(8, 8, 8);
    }

    
    .design-container__user__office{
        border: $border none;
        width: 50%;
        letter-spacing: 0.5rem;
        font-family: $Montserrat;
        font-size: 1.6rem;
        color: rgb(8, 8, 8);
        font-weight: 600;
    }

    .design-container__user__line{
        border:$white 1px solid;
        width: 50%;
        margin: 1rem 0;

    }


    .design-container__user__description{
        border: $border none;
        width: 50%;
        font-family: $Montserrat;
        letter-spacing: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .design-container__user__links {
        border: $border none;
        width: 50%;
        margin-top: 3rem;
    }


    .design-container__user__links a i{
        font-size: 2.8rem;
        margin: 0 1.5rem;
        color: $white;
        border: 1px solid $white;
        border-radius: 55px;
        padding: 1rem 1rem;
    }
}