// header

.header{
    padding: 6rem 0;
    height: 6rem;
    border: $border none;
    overflow: hidden;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 200;
    background: #454D9B;

    &-container{
        border: $border none;
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        height: 100%;
        @include display-flex(space-between)
    }

    .header-container__hamburger{
        color: $white;
        font-size: 1.8rem;
        display: none;
    }

    .header-container__hamburger{
        animation-name: l;
        animation-duration: 3s;
        animation-delay: 2s;
    }

    @keyframes l {
        0%{
            transform: translateY(1000px);
        }

        100%{
            transform: translateY(0px);
        }
    }

    .header-navbar{
        border: $border none;
        display: inline-flex;
    }

    &-navbar__img{
        display: none;
    }

    &-navbar__button{
        display: none;
    }

    &-navbar__item{
        border: $border none;
    }

    &-navbar__item__link{
        border: $border none;
        font-size: 1.3rem;
        color: $white;
        font-family: $Montserrat;
        margin:  0 0.5rem;
        
    }

    .header-logo{
        border: $border none;
        margin: 0 ;
    }

    &-logo__img{
        height: 15rem;
        object-fit: cover;
    }

    .header-button{
        height: 3rem;
        width: 14rem;
        border: $border none;
    }

    &-button__btn{
        width: 100%;
        height: 100%;
        text-align: center;
        border: transparent;
        font-size: 1.4rem;
        border-radius: 10px;
        text-transform: capitalize;
        outline-style: none;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: $white;
        background: transparent;
        border: solid 1px $white;
    }

}