// service

.service{
    width: 100%;
    border: $border none;
    height: 80vh;

    &__title{
        text-align: center;
        font-family: $Montserrat;
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    &-container{
        width: 90%;
        margin: 0 auto;
        @include display-flex(space-between)
    }

    .service-content{
        max-width: 27%;
        border: $border none;
        margin-top: 2rem;
        height: 18rem;
    }

    &-content__description{
        font-family: $Montserrat;
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        font-weight: 500;
        text-align: center;
        line-height: 2.1rem;
        color: #2e2d2d;
    }

    &-content__icon{
        border: $border none;
        display: block;
        width: 100%;
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
        color: #6B7796;
    }
    
    &-content__title{
        text-align: center;
        font-family: $Montserrat;
        margin-bottom: 2rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
    }
}