
.design .design-container__user{
    width: 85%;
    text-align: center;
}

.design .design-container__icon__left{
    font-size: 3rem;
}

.design .design-container__user__img{
    height: 10rem;
    width: 10rem;
}

.design .design-container__user__name{
    width: 100%;
    font-size: 1.8rem;
}

.design .design-container__user__office{
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
}

.design .design-container__user__description{
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 1.1rem;
    padding: 0 5rem ;
}

.design .design-container__user__links{
    width: 100%;
}

.design .design-container__user__links a i{
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 1rem 1rem;
}


.design .design-container__icon__right{
    font-size: 3rem;
}