.main-content__title{
    font-size: 4rem;
}

.main-content__description{
    line-height: 3rem;
}

.main-content__btn{
    width: 16rem;
    height: 3.5rem;
    font-size: 1.3rem;
}

.main-content__btn--black{
    width: 16rem;
    height: 3.5rem;
    font-size: 1.3rem;
}