.service__title{
    font-size: 3rem;
}

.service-container{
    display: block;
    margin: auto;
}

.service .service-content__title{
    font-size: 1.6rem;
}

.service .service-content__description{
    line-height: 2.5rem;
    font-size: 1.1rem;
}
.service .service-content{
    width: 100%;
    padding: 5rem 4rem;
    height: 100%;
    margin: 0;

}