.briefcase-title{
    font-size: 2.5rem;
}

.briefcase-container-two__item-2 h2{
    font-size: 1.2rem;
}


.briefcase-container-two__item-2 p{
    font-size: 1rem;
}

.briefcase-container-two__item-2 div .fa{
    font-size: 1.1rem;
}


.briefcase-container-two__item-2 div .fo{
    font-size: 1.1rem;
}

.work-title{
    font-size: 2.5rem;
}