.design .design-container__user__img{
    height: 8rem;
    width: 8rem;
}


.design .design-container__user__office{
    font-size: 1.1rem;
}

.design .design-container__user__description{
    font-size: 1rem;
    padding: 0 4.5rem;
}

.design .design-container__user__links a i{
    font-size: 1.3rem;
}


.design .design-container__icon__left{
    font-size: 2.5rem;
} 

.design .design-container__icon__right {
    font-size: 2.5rem;
}