.main-content__title {
    font-size: 3rem;
}

.main-content__description {
    font-size: 1.2rem;
}

.main-content__btn{
    width: 14rem;
    font-size: 1.2rem;
}

.main-content__btn--black{
    width: 14rem;
    font-size: 1.2rem;
}

