section.behind#scene
    h1.behind-title Behind the scene 
        .behind-container
            .behind-container-box1
                div.box1-container
                    img( class="box1-container__img" src="src/img/main-image.jpg", alt="", srcset="")
                div.box1-container
                    p.box1-container__description "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                    div.box1-container__two
                        div
                            img(class="box1-container__img--user" src="src/img/user.jpg", alt="", srcset="" height="20" width="20")
                        div
                            p.box1-container__description--opacity lorem ipsum
            .behind-container-box2
                img( class="behind-container-box2__img" src="src/img/main-image.jpg", alt="")
                div
                    p.behind-container-box2__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    div.behind-container-box2--two
                        img(class="behind-container-box2--two__img" src="src/img/user.jpg", alt="")
                        p.behind-container-box2--two__description lorem ipsum