section.briefcase#progress
    h1.briefcase-title Portafolio
    nav.briefcase-container
        li.briefcase-container__list websites
        li.briefcase-container__list mobile apps
        li.briefcase-container__list Identify
        li.briefcase-container__list more about
    div.briefcase-container-two
        .briefcase-container-two__item: img(class="briefcase-container-two__item__img" src="src/img/mobile.jpg", alt="", srcset="")
        .briefcase-container-two__item-2
            div
                span(class="fas fa-mobile-alt")
            div
                h2 Lorem Ipsum is simply
            div
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            div
                i(class="fas fa-chevron-left fa")
                i(class="fas fa-chevron-right fo")