
<section class="briefcase" id="progress">
  <h1 class="briefcase-title">Portafolio</h1>
  <nav class="briefcase-container">
    <li class="briefcase-container__list">websites</li>
    <li class="briefcase-container__list">mobile apps</li>
    <li class="briefcase-container__list">Identify</li>
    <li class="briefcase-container__list">more about</li>
  </nav>
  <div class="briefcase-container-two">
    <div class="briefcase-container-two__item"><img class="briefcase-container-two__item__img" src="src/img/mobile.jpg" alt="" srcset=""/></div>
    <div class="briefcase-container-two__item-2">
      <div><span class="fas fa-mobile-alt"></span></div>
      <div>
        <h2>Lorem Ipsum is simply</h2>
      </div>
      <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div><i class="fas fa-chevron-left fa"></i><i class="fas fa-chevron-right fo"></i></div>
    </div>
  </div>
</section>