
<section class="design" id="me">
  <figure class="design-image"><img class="design-image__img" src="src/img/cover.jpg" height="80"/><img class="design-image__img--two" src="src/img/cover.jpg" height="80"/></figure>
  <div class="design-container">
    <div class=" design-container__icon__left fas fa-chevron-circle-left " id="icon-left"></div>
    <div class="design-container__user"><img class="design-container__user__img" src="src/img/user.jpg" alt="image"/>
      <h1 class="design-container__user__name">Adrian Podolski</h1>
      <h2 class="design-container__user__office">Frontend developer</h2>
      <li class="design-container__user__line"></li>
      <p class="design-container__user__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="design-container__user__links"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class=" fab fa-facebook"></i></a></div>
    </div>
    <div class=" design-container__icon__right fas fa-chevron-circle-right " id="icon-right"></div>
  </div>
</section>