section.design#me
    figure(class="design-image"): img(src="src/img/main-image.jpg", height="80")
    div(class="design-container")
        div(class="fas fa-chevron-circle-left design-container__icon--left")
        div(class="design-container__user")
            img( class="design-container__user__img" src="src/img/logo.png")
            h1(class="design-container__user__name") lorem ipsum
            h2(class="design-container__user__office") lorem ipsum
            li(class="design-container__user__line")
            p(class="design-container__user__description") Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            div(class="design-container__user__links")
                a(href="#"): i(class="fab fa-instagram")
                a(href="#"): i(class="fab fa-twitter")
                a(href="#"): i(class=" fab fa-facebook")
        div(class="fas fa-chevron-circle-right design-container__icon--right")
