
<footer class="footer" id="end">
  <div class="footer-container"><img src="" alt="" srcset=""/>
    <div class="footer-container-box">
      <p class="footer-container-box__item"></p>
      <p class="footer-container-box__item"></p>
      <p class="footer-container-box__item"></p>
      <p class="footer-container-box__item"></p>
      <p class="footer-container-box__item"></p>
    </div>
    <div class="footer-container-box">
      <button class="footer-container-box__btn"></button>
    </div>
  </div>
</footer>