footer.footer#end
    .footer-container
        img( class="footer-container-box__img" src="src/img/logo-header.png", alt="", srcset="")
        .footer-container-box
            p.footer-container-box__item lorem 
            p.footer-container-box__item lorem 
            p.footer-container-box__item lorem 
            p.footer-container-box__item lorem 
            p.footer-container-box__item lorem 
        .footer-container-box
            button.footer-container-box__btn button
    .footer-container-two
        p.footer-container-two__end 2020 ©opyrightLAngel-design. Todos los derechos reservados.