header.header#init
    nav.header-container
        ul.header-navbar
            li(class="header-container__navbar__item"): a(class="header-container__navbar__item__link" href="#") lorem
            li(class="header-container__navbar__item"): a(class="header-container__navbar__item__link" href="#") lorem
            li(class="header-container__navbar__item"): a(class="header-container__navbar__item__link" href="#") lorem
            li(class="header-container__navbar__item"): a(class="header-container__navbar__item__link" href="#") lorem
        figure(class="header-logo"): img( class="header-logo__img" src="", alt="", srcset="")
        div(class="header-button"): button( class="header-button__btn" type="submit") lorem