header.header#init
    nav.header-container
        ul.header-navbar
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Service
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Team
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Portafolio
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Work
        figure(class="header-logo"): img( class="header-logo__img" src="src/img/logo-header.png", alt="logo")
        div(class="header-button"): button(class="header-button__btn" type="submit") lorem 