header.header#init
    nav.header-container
        ul.header-container__navbar
            li(class="header-container__navbar__item"): a(href="#") lorem
            li(class="header-container__navbar__item"): a(href="#") lorem
            li(class="header-container__navbar__item"): a(href="#") lorem
            li(class="header-container__navbar__item"): a( href="#") lorem
        figure.header-container__logo: img( class="header-container__logo__img" src="", alt="", srcset="")
        .header-container__button: button( class="header-container__button__btn" type="submit") lorem
            
