header.header#init
    nav.header-container
        i(class="fas fa-bars header-container__hamburger" id="menu-hamburger") 
        ul.header-navbar
            img( class="header-navbar__img" src="src/img/logo-header.png", alt="logo")
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Service
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Team
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Portafolio
            li(class="header-navbar__item"): a(class="header-navbar__item__link" href="#") Work
            div(class="header-navbar__button"): button(class="header-navbar__button__btn" type="submit") lorem 
        figure(class="header-logo"): img( class="header-logo__img" src="src/img/logo-header.png", alt="logo")
        div(class="header-button"): button(class="header-button__btn" type="submit") lorem 
