
<header class="header" id="init">
  <nav class="header-container"><i class="fas fa-bars header-container__hamburger"></i>
    <ul class="header-navbar"><img class="header-navbar__img" src="src/img/logo-header.png" alt="logo"/>
      <li class="header-navbar__item"><a class="header-navbar__item__link" href="#">Service</a></li>
      <li class="header-navbar__item"><a class="header-navbar__item__link" href="#">Team</a></li>
      <li class="header-navbar__item"><a class="header-navbar__item__link" href="#">Portafolio</a></li>
      <li class="header-navbar__item"><a class="header-navbar__item__link" href="#">Work</a></li>
      <div class="header-navbar__button">
        <button class="header-navbar__button__btn" type="submit">lorem </button>
      </div>
    </ul>
    <figure class="header-logo"><img class="header-logo__img" src="src/img/logo-header.png" alt="logo"/></figure>
    <div class="header-button">
      <button class="header-button__btn" type="submit">lorem </button>
    </div>
  </nav>
</header>