main(class="main" id="hero")
    div(class="main-container")
        div(class="main-content")
            h1(class="main-content__title")
            p(class="main-content__description")
            button( class="main-content__btn" type="submit")
            button(class="main-content__btn--black" type="submit")





