main(class="main" id="hero")
    div(class="main-container")
        div(class="main-content")
            h1(class="main-content__title") #{titles[0]}
            p(class="main-content__description") #{paragraph}
            button( class="main-content__btn" type="submit") lear more
            button(class="main-content__btn--black" type="submit") watch video 
                i(class=" main-content__btn--icon fas fa-arrow-right")
