section(class="service" id="services")
    h1(class='service__title') #{titles[1]}
    div(class="service-container")
        +box(' far fa-lightbulb','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Consultancy')
        +box(' fas fa-desktop','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Web Design')
        +box(' fas fa-mobile-alt','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Mobile Apps')
    div(class="service-container")
        +box(' fas fa-blog','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Branding')
        +box(' fas fa-bezier-curve','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Illustrations')
        +box(' fas fa-camera','Lorem Ipsum is simply dummy text of the printing and typesetting industry.', 'Photography')  
    