section.social-networks#social
    .social-networks-container
        a.social-networks-container__item: i(class="fab fa-facebook  social-networks-container__item__icon ")
        a.social-networks-container__item: i(class="fab fa-pinterest-square social-networks-container__item__icon")
        a.social-networks-container__item: i(class="fab fa-twitter social-networks-container__item__icon")
        a.social-networks-container__item: i(class="fab fa-instagram  social-networks-container__item__icon")