section.work#works
    h1.work-title Work with us
    .work-container
        .work-container__box-1
            h2.work-container__box-1__title Available Positions
            p.work-container__box-1__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            button.work-container__box-1__button lear more
            img.work-container__box-1__map(src="src/img/map.jpg", alt="", srcset="")
        .work-container__box-2
            h2.work-container__box-2__title Product Manager
            p.work-container__box-2__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            h2.work-container__box-2__title Front End developer
            p.work-container__box-2__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            h2.work-container__box-2__title  Mobile developer
            p.work-container__box-2__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,