* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

li {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 20vh;
  border: solid red 1px none;
  overflow: hidden;
  background: linear-gradient(130deg, rgba(34, 45, 186, 0.6699054622) 45%, rgba(79, 49, 82, 0.6155637255) 65%, rgba(115, 69, 69, 0.5418942577) 86%);
}
.header-container {
  border: solid red 1px none;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-navbar {
  border: solid red 1px none;
  display: inline-flex;
}
.header-navbar__item {
  border: solid red 1px none;
}
.header-navbar__item__link {
  border: solid red 1px none;
  font-size: 1.2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0 1rem;
  letter-spacing: 0.2rem;
}
.header .header-logo {
  border: solid red 1px none;
  margin: 0;
}
.header-logo__img {
  height: 25rem;
}
.header .header-button {
  height: 3.5rem;
  width: 22rem;
  border: solid red 1px none;
}
.header-button__btn {
  width: 20rem;
  height: 3.5rem;
  text-align: center;
  border: transparent;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  text-transform: capitalize;
  outline-style: none;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: white;
  background: transparent;
  border: solid 1px white;
}

.main {
  height: 80vh;
  background-image: url("../img/main-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid red 1px none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.main::after {
  content: "";
  position: absolute;
  background: linear-gradient(130deg, rgba(34, 45, 186, 0.8071603641) 33%, rgba(79, 49, 82, 0.8547794118) 53%, rgba(111, 62, 64, 0.868785014) 86%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-container {
  max-width: 90%;
  border: solid red 1px none;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-content {
  border: solid red 1px none;
  text-align: center;
  position: absolute;
  z-index: 3;
  padding: 5rem 2rem;
}
.main-content__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
}
.main-content__description {
  font-size: 1.5rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
  font-weight: 500;
}
.main-content__btn, .main-content__btn--black {
  width: 20rem;
  height: 4rem;
  text-align: center;
  border: transparent;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  text-transform: capitalize;
  outline-style: none;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.main-content__btn--black {
  color: white;
  background-color: black;
}

.service {
  width: 100%;
  border: solid red 1px none;
  height: 80vh;
}
.service__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.service-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service .service-content {
  max-width: 27%;
  border: solid red 1px none;
  margin-top: 2rem;
  height: 18rem;
}
.service-content__description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.1rem;
  color: #2e2d2d;
}
.service-content__icon {
  border: solid red 1px none;
  display: block;
  width: 100%;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: #6B7796;
}
.service-content__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.design {
  height: 85vh;
  border: solid red 1px none;
  position: relative;
  z-index: 1;
  margin-top: 2.5rem;
}
.design-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: solid red 1px none;
}
.design-image__img {
  height: 100%;
  width: 100%;
  filter: grayscale(15%);
}
.design-container {
  display: flex;
  position: absolute;
  z-index: 3;
  border: solid red 1px none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.design .design-container__icon__left {
  font-size: 3.8rem;
  border: solid red 1px none;
  align-items: center;
  display: flex;
  padding-left: 1.5rem;
  flex-grow: 1;
}
.design .design-container__icon__right {
  font-size: 3.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: solid red 1px none;
  padding-right: 1.5rem;
  flex-grow: 2;
}
.design .design-container__user {
  border: solid red 1px none;
  padding: 4rem 5rem;
  width: 60rem;
  flex-grow: 1;
}
.design .design-container__user__img {
  border: solid red 1px none;
  height: 12rem;
  width: 15rem;
  border-radius: 45px;
  margin-top: 3rem;
}
.design .design-container__user__name {
  border: solid red 1px none;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  color: #080808;
}
.design .design-container__user__office {
  border: solid red 1px none;
  width: 50%;
  letter-spacing: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #080808;
  font-weight: 600;
}
.design .design-container__user__line {
  border: white 1px solid;
  width: 50%;
  margin: 1rem 0;
}
.design .design-container__user__description {
  border: solid red 1px none;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}
.design .design-container__user__links {
  border: solid red 1px none;
  width: 50%;
  margin-top: 3rem;
}
.design .design-container__user__links a i {
  font-size: 2.8rem;
  margin: 0 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 55px;
  padding: 1rem 1rem;
}

.briefcase {
  height: 90vh;
  border: solid red 1px;
}
.briefcase-title {
  text-align: center;
  margin-top: 3rem;
  letter-spacing: 0.5rem;
}
.briefcase-container, .briefcase-container-two {
  max-width: 90%;
  margin: 0 auto;
  border: solid red 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.briefcase-container .td, .briefcase-container-two .td {
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  padding-top: 2rem;
}
.briefcase-container-two {
  height: 77%;
}